/*
	Archivo css
	Nombre: estilos.css
	Autor: Miguel Ferreiro
	Fecha de creación: 26/11/2017 
	Función: el objetivo de este fichero es modificar la presentación de la página web. En este archivo, se modifica 
	la apariencia de las diferentes secciones de la página web (cabecera, menú, tablas, formularios, etc). Además, se 
	usa flex para la presentación de la página al redimensionar el tamaño de la misma.
*/
	
	#main {
		min-height: 800px;
		margin: 0px;
		padding: 0px;
		display: -webkit-flex;
		display:        	flex;
		-webkit-flex-flow: row;
			   flex-flow: row;
		z-index:1;
    }
 
	#main > article {
		margin: 4px;
		padding: 5px;
		-webkit-flex: 3 1 60%;
				flex: 3 1 60%;
		-webkit-order: 2;
				order: 2;
    }
  
	#main > nav {
		margin: 0px;
		padding: 5px;
		background-color: #C8D5B9;
		min-width: 180px;
		-webkit-flex: 1 6 15%;
				flex: 1 6 15%;
		-webkit-order: 1;
				order: 1;		
    }
  
	header{
		display: block;
		margin: 4px;
		padding: 5px;
		min-height: 100px;
		border: 1px solid #eebb55;
		background: linear-gradient(to top,rgba(76, 175, 80, 1) 0%, rgba(255, 255, 255, 1)150%);
		
	}
    body {
		font-family: Arial;
		background: white;
    }
	footer{
		display: block;
		margin: 4px;
		padding: 15px;   
		border-top: 2px solid #000;
		background: #CCC;
	   
    }

	h1{
		text-align:center;
		font-size: 45px;
		color: black;
	}
	h2{
		text-align:center;
		font-size: 30px;
		color: #4CAF50;
	}
	p{
		text-align:justify;
	}
	
    textarea{
        resize:none;
    }

   .menu {
		padding: 0;
		margin: 0;
		list-style-type: none;	
		text-align: center;				
	}
	.submenu{		
		padding: 0;
		margin: 0;
		list-style-type: none;			
		display:none; 			
		position: relative;
	}
	.primerNivel{
		color : white;
		text-decoration: none;
		display: block;
		padding: 5px;
		font-size: 20px;
		background-color: #4CAF50;
	}
	.segundoNivel{
		color : black;
		text-decoration: none;
		display: block;
		padding: 5px;
		font-size: 15px;
		background: #f1f1f1;
		
	}
	.tercerNivel{
		
		color : white;
		text-decoration: none;
		display: block;
		padding: 5px;
		font-size: 13px;
		background-color: #4CAF50;
		
	}
	.primerNivel:hover ,.tercerNivel:hover {
		color: black;
		background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 44%, rgba(76,175,80,1) 73%, rgba(76,175,80,1) 100%);
		background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 44%, rgba(76,175,80,1) 73%);
		
	}
	.segundoNivel:hover{
		color: white;
		background: -webkit-radial-gradient(center, ellipse cover, rgba(76,175,80,1) 0%, rgba(76,175,80,1) 65%, rgba(246,246,246,1) 85%, rgba(255,255,255,1) 100%);
		background: -moz-radial-gradient(center, ellipse cover, rgba(76,175,80,1) 0%, rgba(76,175,80,1) 65%, rgba(246,246,246,1) 85%);
	}
	.primerNivel:hover + .submenu,.submenu:hover, .segundoNivel:focus + .submenu, .tercerNivel:focus + .submenu{
		display:block;
	}
	
	.ajustar{
		width: 267px;
		float: left;
		white-space: normal !important;
 		word-wrap: break;
 		hyphens: auto;
 		overflow-wrap: break-word;
	}

	

	table{
		padding:1px;
		margin-top:0px;
		border-spacing:0px;
		font-family: Arial;
		font-size: 20px;
		border: 0px solid #000;
		margin: 0 auto ;
		text-align: left;
		
	}
	
	th,td{
		padding: 5px;
		text-align: center;
		font-size: 18px;
		border: 0px solid #000;
		
	}
	th{
		background-color: #9fcf9f;
		font-weight:normal;
		border: 0px solid #000;
	}
	.formThTd{
		text-align:left;
	}
	
	.seccion{
		padding:10px;
		padding-bottom: 30px;
		margin: 20px;
		text-align:center;
		
	}
	button{
		background-color:white;
		border: none;
		margin-top: 10px;
		padding:0px;
	}
  

  
  	#capaVentana {
	visibility:hidden;
		position:fixed;
		position:top;
		padding:0px;
		right:0%;
		top:40%; 
		z-index:2;
	}
	#capaFondo1 {
	visibility:hidden;
		position:fixed;
		padding:0px;
		width:100%;
		height:100%;
		top:0;
		left:0;
		z-index:1;
		background-color: rgba(1, 1, 1, 0.5);
	}
